:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: #eee;
	background-color: #111;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	height: 100%;
	word-break: break-word;
}

body {
	margin: 0;
	padding: 20px;
	padding-bottom: 40px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
}

a {
	color: #aae;
}

a:visited {
	color: #eae;
}

main {
	max-width: 500px;
}

button {
	margin: 2px;
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #222;
	color: #eee;
	cursor: pointer;
	transition: border-color 0.25s;

	&:hover {
		border-color: #646cff;
	}

	&:focus, &:focus-visible {
		outline: 4px auto -webkit-focus-ring-color;
	}
}

.primary {
	background-color: #262;
}

.icon-button {
	width: 150px;
	height: 170px;
	vertical-align: middle;
	display: inline-flex;
	flex-direction: column;
	align-items: center;

	&-icons {
		flex-grow: 1;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	&-label {
		margin-top: 1em;
		margin-bottom: 0;
	}
}

svg, .icon-button img {
	vertical-align: text-bottom !important;
}

.progress {
	&-container {
		height: 50px;
		max-width: 650px;
		background-color: #555;
		border: 1px solid gray;
		border-radius: 4px;
	}

	height: 100%;
	line-height: 50px;
	color: white;
	text-align: center;
	animation: infinite 3s progress-glow;
	word-break: normal;
}

@keyframes progress-glow {
	0% {
		background-color: #373;
	}

	50% {
		background-color: #595;
	}

	100% {
		background-color: #373;
	}
}

.fake-button, kbd {
	background-color: #444;
	color: #ddd;
	border: solid thin gray;
	border-radius: 5px;
}

.fake-button {
	padding: 5px;
}

kbd {
	padding: 1px 3px;
	display: inline-block;
}

code {
	padding: 3px;
	border-radius: 3px;
	background-color: #333;
}

pre {
	max-height: 40vh;
	max-width: 90vw;
	overflow: auto;
	background-color: #222;
}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 8px;
	background-color: #333;
	border-radius: 15px 0 0 0;
}

.big {
	font-size: 1.5em;
}

li {
	margin-bottom: 10px;
}

.bookmarklet {
	background-color: #55a;
	border: solid medium #448;
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 10px;

	span {
		font-size: 0;
	}

	&::before {
		content: 'Drag Me to Bookmarks Bar';
	}
}

.screenshot {
	margin-top: 0.5em;
	border-radius: 6px;
	border: 1px solid #404040;
	max-width: 100%;
}

.file-box {
	transition: background-color 0.5s;
	width: 100%;
	height: 250px;
	border: #aae dashed thin;
	border-radius: 6px;
	background-color: #115;
	display: flex;
	justify-content: center;
	align-items: center;

	&.hovering {
		background-color: #337;
	}

	&.loading {
		opacity: 0.5;
	}
}
